#hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    border-bottom: var(--main-border);
    background-image: url("./square.gif");

    text-align: center;
}

#hero .container {
    position: relative;
    z-index: 1;
}

.hero-title {
    font-size: clamp(2.3rem, 4.5vw, var(--text-very-large-title));
    text-shadow: -2px 2px 4px rgba(0,0,0,.16);
    color: var(--color-night-sky);
    margin-bottom: 1em;
}

.hero-title span {
    color: var(--color-purple);
    text-shadow: -2px 2px 4px rgba(0, 102, 204, .16);
}

#hero .cta {
    box-shadow: -2px 2px 4px rgba(0, 102, 204, .16);
}

#hero .cta .feather {
    transition: var(--transition);
}

#hero .cta:hover .feather,
#hero .cta:focus .feather {
    transform: translateX(.5em);
}

/** Doodle */

#biggest {
    position: relative;
    display: inline-flex;
}

#text-highlighter {
    position: absolute;
    bottom: -.5em;
    width: 100%;
    transform: scale(1.12);
}

#text-highlighter path {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: draw 3s linear forwards;
    animation-delay: 250ms;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}