.component-palette {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.component-palette section {
    padding-block: 2rem;
}

.component-palette .comments-container {
    display: grid;
    gap: 1rem;
}