#app {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;

    background-color: var(--color-sky-blue);
}

.container {
    padding-inline: 1rem;
    margin: 0 auto;
}

@media (width > 768px) {
    .container {
        max-width: 720px;
    }
}

@media (width > 1200px) {
    .container {
        max-width: 1120px;
    }
}