@import './assets/font/Encode_Sans/encode_sans.css';

:root {

    /** Colors */
    --color-white: #FFF;
    --color-sky-blue: #F1F5F9;
    --color-rainy-sky: #E8ECF0;
    --color-night-sky: #1E293B;
    --color-yellow: #FFF200;
    --color-purple: #5865F2;
    --color-grape: #313CB5;
    --color-black: #000;
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-blue: #0000ff;

    /** Borders */
    --main-border-width: var(--size-1x);
    --main-border-style: solid;
    --main-border-color: var(--color-rainy-sky);
    --main-border: var(--main-border-width) var(--main-border-style) var(--main-border-color);

    /** Text */
    --text-stroke-width: var(--size-1x);
    --text-stroke-color: var(--color-white);

    --text-very-large-title: clamp(var(--size-48x), 4.5vw, var(--size-64x));

    /** Size */
    --size-1x  : .0625rem; /* ~ 1px */
    --size-16x  : 1rem; /* ~ 16px */
    --size-48x : 3rem;    /* ~ 48px */
    --size-64x : 4rem;    /* ~ 64px */

    /** Animations */
    --transition-speed: 100ms;
    --transition-style: linear;
    --transition: all var(--transition-speed) var(--transition-style);

}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    overflow-x: hidden;
}