@import './assets/font/Encode_Sans/encode_sans.css';

:root {

    /** Colors */
    --color-sky-blue: #F1F5F9;
    --color-rainy-sky: #E8ECF0;
    --color-night-sky: #1E293B;
    --color-yellow: #FFF200;

    /** Borders */
    --main-border-width: .0625rem; /* ~ 1px */
    --main-border-style: solid;
    --main-border-color: var(--color-rainy-sky);
    --main-border: var(--main-border-width) var(--main-border-style) var(--main-border-color);

}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}