.accordion {
    color: white;

    h2 {
        pointer-events: none;
    }

    button {
        border: 1px solid white;
        background-color: transparent;
        padding: 0.5rem;
        color: white;
        height: 2rem;
        pointer-events: none;
        min-width: 3rem;
        min-height: 3rem;
        transition: all 200ms;
    }

    article {
        padding: 2rem;
    }
    
    :global(.title) {
        display: flex;
        justify-content: space-between;

        &:hover {
            cursor: pointer;
        }
    }

    :global(.content) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 300ms;
    }

    :global(.show-content) {
        margin-top: 1rem;
    }

    :global(.temp-image) {
        aspect-ratio: 1;
        min-width: 18.75rem;
        max-width: 48rem;
        display: block;
        width: 100%;
        background-color: #ccc;
        place-self: end;
    }

    :global(.article-one) {
        background-color: #4F5CE9;
    }

    :global(.article-two) {
        background-color: #8E3EF6;
    }

    :global(.article-three) {
        background-color: #A628E0;
    }
}

@media (width < 768px) {
    .accordion {
        :global(.content) {
            grid-template-columns: 1fr;
        }
        :global(.temp-image) {
            width: 100%;
        }
    }
    
}